@font-face {
    font-family: 'Whitney';
    src: url(fonts/Whitney-Light.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url(fonts/Whitney-Book.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url(fonts/Whitney-Medium.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url(fonts/Whitney-SemiboldSC.woff2);
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
